@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.hiden-menu {
  display: none;
}

#side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 99999;
  height: 600px;
  background-color: #fff9ec;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#side-menu.active {
  transform: translateX(0);
}

#side-menu,
.menu {
  display: none;
}

#btn-menu {
  display: none;
}

.bottom-g h5 {
  display: none;
}

.header-top {
  position: relative;
  top: 0;
  z-index: 10000;
  width: 100%;
  transition: all 0.3s ease;
}

.header-top p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  color: white;
  background-color: #00b15c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.navigation-top {
  height: 110px;
  background-color: #fff9ec;
  display: flex;
  justify-content: space-around;

  align-items: center;
  border-bottom: 1px solid #e4d9c3;
}

.navigation-top .slika-logo {
  width: 190px;
  height: 65px;
}

.navigation-top button {
  color: #e41100;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #e41100;
  border-radius: 20px;
  /* padding: 7px 22px 7px 22px; */
  height: 37px;
}

.navigation-top #btn-shop {
  /* padding-right: 17px;
  padding-left: 4px; */
  padding: 0 17px 0px 4px;
}

.navigation-top #btn-shop span {
  vertical-align: middle;
}

.navigation-top #btn-shop img {
  border-radius: 1000px;
  vertical-align: middle;
}

.navigation-top #btn-findInStore {
  padding: 6px 21px 7px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.navigation-top #btn-ourStory {
  padding: 6px 19px 7px 20px;
}

.navigation-top #btn-user,
.navigation-top #btn-cart {
  height: 37px;
  width: 37px;
}

.section-top {
  background-color: #fff9ec;
  border-bottom: 1px solid #e4d9c3;
}

.main-part-top h1,
.main-part-top h2 {
  text-align: center;
  font-size: 120px;
  color: #fff9ec;
  margin: 0;
  text-shadow: 2px 0 0 #e41100, 0px -2px 0 #e41100, 0px 2px 0px #e41100,
    -2px 0 0 #e41100;
}

.main-part-top h2 {
  margin-top: -620px;
  font-size: 150px;
}

.column {
  float: left;
}

#column-left,
#column-right {
  width: 15%;
}

#column-right img {
  float: right;
}

#column-mid {
  width: 70%;
  position: relative;
}

.pictures-section-top {
  display: flex;
  justify-content: space-between;
}

.pictures-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.prostor-slike {
  position: relative;
  width: 100%;
}

.prostor-slike img {
  position: absolute;
  width: 1020px;
  left: 50%;
  transform: translateX(-50%);
  top: -130px;
}

#column-left img {
  height: 1200px;
  margin-top: -120px;
}

#column-right img {
  height: 900px;
  margin-top: -120px;
}

.bottom-part-top {
  width: 100%;
  text-align: center;
}

.presenting img {
  margin-top: -100px;
  margin-bottom: -150px;
  z-index: -999;
  width: 100%;
}

.between-sections {
  position: relative;
  z-index: 999;
  background-color: #ffffff;
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e4d9c3;
}

.more-columns {
  z-index: 999;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.parts {
  display: flex;
  height: 70px;
  font-size: 24px;
  align-items: center;
  width: 30%;
}

.parts img {
  margin-right: 27px;
}

#line-red {
  height: 2px;
  width: 70px;
  background-color: #e41100;
  margin: 0 20px;
}

.section-two {
  display: flex;
  justify-content: center;
}

.column-in-sectionTwo {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.column-in-sectionTwo .column {
  width: max-content;
}

.right-side img{
  height: 430px;
}

.column-in-sectionTwo #bottom-col {
  position: relative;
}

.circleBlue {
  height: 250px;
  width: 250px;
  background-color: #7fd3f1;
  position: absolute;
  top: 10%;
  left: 45%;
  border-radius: 1000px;
  z-index: -2;
}

#text-in-column h3 {
  font-size: 84px;
  margin-bottom: 55px;
}

#text-in-column h3 strong {
  color: #e41100;
}

#text-in-column .top-paragraph {
  font-family: Urbanist, serif;
  font-size: 18px;
}

#text-in-column .bottom-paragraph {
  font-family: Urbanist, serif;
  font-size: 14px;
}

#btn-story2 {
  padding: 6px 19px 7px 20px;
  color: #e41100;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #e41100;
  border-radius: 20px;
  height: 37px;
  margin-top: 35px;
}

.column-in-sectionThree .column {
  position: relative;
  width: 40%;
}

.images-part-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.images-part-section .second-img {
  height: 500px;
}

.images-part-section .first-img {
  position: absolute;
  z-index: 99;
  left: 53%;
  top: 80px;
  height: 410px;
}

.section-three {
  margin: 0 auto;
  margin-top: 85px;
}

.column-in-sectionThree {
  display: flex;
  justify-content: center;
}

.table-design {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  gap: 30px;
}

.table-design div {
  width: 130px;
}

#text-part-s3 h3 {
  font-size: 60px;
  margin-top: 0;
}

#text-part-s3 h3 strong {
  color: #ff76b8;
}

@media (max-width: 1250px){
  .table-design div img,
  .table-design div{
    height: 80px;
    width: 80px;
  }
  .table-design{
    grid-template-columns: 80px 80px 80px 80px;
  }
}

.section-blue {
  color: white;
  font-size: 30px;
  background-color: #7fd3f1;
  padding: 100px 0px 100px 0px;
  margin-top: 90px;
}

.section-blue .calories-part {
  padding-right: 0;
}

.left-arrow,
.right-arrow {
  position: relative;
  height: 80px;
  width: 20%;
}

.content-in-section {
  background-color: #7fd3f1;
}

.prva-kolona img{
  display: block;
}

.prva-kolona .otherPic{
  padding-left: 40px;
  padding-right: 40px;
}

.razvuci{
  display: flex;
  justify-self: center;
  text-align: center;
}

.druga-kolona h5,
.treca-kolona h5,
.cetvrta-kolona h5{
  margin: 0;
  font-size: 30px;
}

.druga-kolona h2,
.treca-kolona h2,
.cetvrta-kolona h2{
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 0;
}

.druga-kolona p,
.treca-kolona p,
.cetvrta-kolona p{
  font-size: 20px;
  margin-top: 0;
}

.druga-kolona,
.cetvrta-kolona{
  border-left: 4px solid #a6e7ff;
  padding: 0 60px;
  width: 25%;
}

.treca-kolona{
  border-left: 4px solid #a6e7ff;
  padding: 0 0 0 50px;
  width: 25%;
}


.prva-kolona{
  width: 25%;
}


.bottom-g{
  margin-top: 170px;
  color: #63a9c2;
  width: 100%;
}


.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.swiper {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product {
  padding: 15px;
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-prev,
.custom-next {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  width: 50px;
  height: 50px;
}

.custom-prev {
  left: 80%;
}

.custom-next {
  right: 80%;
}

.custom-prev img,
.custom-next img {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.custom-prev:hover img,
.custom-next:hover img {
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.header-n-text {
  text-align: center;
}

.slider-section {
  position: relative;
}

.header-n-text h2 {
  font-size: 60px;
  margin-bottom: 0;
}

.header-n-text h2 strong {
  color: #e41100;
}

.header-n-text p {
  font-size: 16px;
  margin-top: 30px;
}

.LeftPic,
.RightPic {
  position: absolute;
}

.LeftPic {
  left: 50px;
  z-index: 22;
  top: -270px;
  height: 550px;
}

.RightPic {
  z-index: 22;
  right: 140px;
  top: -210px;
}

.product img {
  margin-bottom: 0;
}

.product .product-name {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.product .price {
  font-size: 20px;
  font-weight: bold;
}

.product .btn-addCart {
  color: #e41100;
  border: 2px solid #e41100;
  background-color: transparent;
  padding: 12px 35px 12px 35px;
  border-radius: 40px;
}

.color-bg {
  height: 355px;
  width: 100%;
  background-color: #fffcf4;
  position: absolute;
  z-index: -999;
  margin-top: -300px;
  border-bottom: 1px solid #e4d9c3;
}

.mid-btn-findUs {
  background-color: #e41100;
  color: #ffffff;
  font-size: 24px;
  border: none;
  padding: 9px 36px 9px 36px;
  border-radius: 30px;
}

.center-btn {
  margin-top: 30px;
  text-align: center;
}

.between-sectionsTwo {
  width: 100%;
  height: 150px;
}

.space-4-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.footer-section {
  height: 385px;
  width: 100%;
  background-color: #fff9ec;
  border-top: 1px solid #e4d9c3;
  border-bottom: 1px solid #e4d9c3;
  padding-left: 250px;
  padding-right: 250px;
}

.parts-of-footer {
  display: flex;
  justify-content: center;
}

.left-mail-logo {
  display: block;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-right: 270px;
}

.left-mail-logo span {
  margin-top: 30px;
  display: block;
  font-size: 40px;
}

.left-mail-logo p {
  font-size: 16px;
  font-family: Urbanist, serif;
  margin-bottom: 20px;
}

.left-mail-logo input {
  width: 430px;
  border: 2px solid #e21e26;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 27px;
}

.input-box {
  position: relative;
}

.input-box img {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.bg-plane {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #e21e26;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}

.table-footer {
  margin-top: 115px;
}

.table-footer {
  border-collapse: collapse;
  text-align: left;
}

.table-footer table tr th,
.table-footer table tr td {
  padding-right: 50px;
  padding-bottom: 15px;
}

.endline {
  display: flex;
  justify-content: space-around;
  height: 55px;
  align-items: center;
}


/* LAPTOP */

@media (min-width: 992px) and (max-width: 1024px) {
  .main-part-top h1,
  .main-part-top h2 {
    font-size: 70px;
  }

  .main-part-top h2 {
    margin-top: -480px;
    font-size: 90px;
  }

  .main-part-top h1 {
    margin-top: 65px;
  }

  .prostor-slike img{
    height: 350px;
    width: 500px;
    top: -80px;
  }

  .pictures-section-top{
    height: 650px;
  }

  #column-left img {
    height: 900px;
    margin-top: -120px;
  }

  #column-right img {
    height: 700px;
    margin-top: -120px;
  }

  .bottom-part-top {
    width: 100%;
    text-align: center;
  }

  .presenting img {
    margin-top: -200px;
    margin-bottom: -80px;
    width: 80%;
  }

  .between-sections {
    height: 150px;
  }

  .more-columns {
    height: 30px;
  }

  .parts {
    height: 20px;
    font-size: 15px;
  }

  .parts img {
    margin-right: 17px;
    height: 50px;
  }

  #line-red {
    height: 2px;
    width: 50px;
    margin: 0 20px;
  }

  .column-in-sectionTwo img {
    height: 370px;
  }

  .section-three {
    margin-top: 55px;
  }

  .right-side {
    position: relative;
  }

  .circleBlue {
    position: absolute;
    height: 160px;
    width: 160px;
    top: 30%;
    right: 10%;
  }

  #text-in-column {
    margin-right: 45px;
  }

  #text-in-column h3 {
    font-size: 34px;
    margin-bottom: 35px;
  }

  #text-in-column .top-paragraph {
    font-size: 11px;
  }

  #text-in-column .bottom-paragraph {
    font-size: 10px;
  }

  #btn-story2 {
    padding: 3px 15px 3px 15px;
    font-size: 13px;
    height: 27px;
    margin-top: 20px;
  }

  .images-part-section .second-img {
    height: 390px;
  }

  .images-part-section .first-img {
    left: 230px;
    top: 60px;
    height: 280px;
  }

  .table-design {
    gap: 20px;
  }

  .table-design img {
    height: 75px;
  }

  #text-part-s3 h3 {
    font-size: 30px;
  }

  .section-blue {
    font-size: 18px;
    padding: 60px 180px 60px 180px;
    margin-top: 50px;
  }

  .pictures-blue-part img {
    margin-right: 70px;
    height: 150px;
  }

  /**/


  .prva-kolona .redGimmi{
    float: left;
  }

  .section-blue{
    padding: 60px 0 60px 0;
  }

  .druga-kolona h5,
  .treca-kolona h5,
  .cetvrta-kolona h5{
    margin: 0;
    font-size: 24px;
  }

  .druga-kolona h2,
  .treca-kolona h2,
  .cetvrta-kolona h2{
    font-size: 60px;
    margin-top: 60px;
  }

  .druga-kolona p,
  .treca-kolona p,
  .cetvrta-kolona p{
    font-size: 16px;
    margin-top: 0;
  }

  .druga-kolona,
  .cetvrta-kolona{
    border-left: 4px solid #a6e7ff;
    padding: 0 40px;
    width: 25%;
  }

  .treca-kolona{
    border-left: 4px solid #a6e7ff;
    padding: 0 0 0 50px;
    width: 25%;
  }


  .prva-kolona{
    width: 25%;
  }


  .bottom-g{
    margin-top: 170px;
    color: #63a9c2;
    width: 100%;
  }
  /**/

  .swiper-container {
    width: 100%;
  }

  .swiper {
    width: 80%;
    max-width: 900px;
    overflow: hidden;
  }

  .custom-prev,
  .custom-next {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
  }

  .custom-prev {
    left: 50px;
  }

  .custom-next {
    right: 50px;
  }

  .header-n-text h2 {
    font-size: 34px;
  }

  .header-n-text p {
    font-size: 13px;
    margin-top: 20px;
  }

  .LeftPic {
    left: 20px;
    top: -140px;
    height: 300px;
  }

  .RightPic {
    right: 20px;
    top: -110px;
    height: 250px;
  }

  .product .product-name {
    font-size: 13px;
  }

  .product .price {
    font-size: 14px;
  }

  .product .btn-addCart {
    padding: 7px 21px 7px 21px;
  }

  .color-bg {
    height: 355px;
  }

  .between-sectionsTwo {
    height: 100px;
  }

  

  .space-4-logos img {
    width: 80px;
    height: 20px;
    margin: 0 30px 0 30px;
  }

  .footer-section {
    height: 250px;
    padding-left: 60px;
  }

  .left-mail-logo {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .left-mail-logo span {
    margin-top: 20px;
    font-size: 20px;
  }

  .left-mail-logo p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .left-mail-logo img {
    width: 130px;
  }
  .left-mail-logo input {
    width: 290px;
    height: 30px;
    border-radius: 30px;
    padding-left: 15px;
  }

  .input-box img {
    right: 13px;
  }

  .bg-plane {
    height: 20px;
    width: 20px;
    margin-right: 0px;
  }

  .table-footer {
    margin-top: 115px;
  }

  .bg-plane img {
    height: 11px;
    width: 11px;
    left: 4px;
  }

  .footer-section {
    padding-right: 50px;
  }

  .table-footer {
    margin-top: 29px;
    font-size: 13px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-right: 50px;
    padding-bottom: 8px;
  }

  .endline {
    height: 30px;
  }
}

/*TABLET*/

@media (min-width: 768px) and (max-width: 992px) {
  .header-top p {
    height: 30px;
    font-size: 13px;
  }

  
  .main-part-top h1{
    font-size: 80px;
    margin-top: 20px;
  }
  
  .main-part-top h2 {
    margin-top: -400px;
    font-size: 100px;
  }
  
  .column {
    float: none;
  }

  .presenting img{
    margin-bottom: -100px;
  }
  
  #column-left,
  #column-right {
    width: 0%;
  }
  
  #column-right img,
  #column-left img {
    float: none;
    display: none;
  }
  
  .pictures-section-top {
    height: 600px;
  }
  
 
  
  .prostor-slike img {
    width: 600px;
    top: -80px;
  }

  
  .between-sections {
    height: 150px;
  }
  
  .more-columns {
    height: 70px;
  }
  
  .parts {
    height: 50px;
    font-size: 16px;
    width: 30%;
  }
  
  .parts img {
    margin-right: 18px;
    height: 35px;
  }

  #bottom-col{
    margin-top: 60px;
  }
  
  #line-red {
    width: 50px;
  }
  
  .right-side img{
    height: 330px;
  }
  
  .circleBlue {
    height: 140px;
    width: 140px;
    top: 30%;
    left: 45%;
  }
  
  #text-in-column h3 {
    font-size: 54px;
    margin-bottom: 35px;
  }
 
  .column-in-sectionTwo{
    gap: 30px;
  }
  
  #text-in-column .top-paragraph {
    font-size: 15px;
  }
  
  #text-in-column .bottom-paragraph {
    font-size: 12px;
  }
  
  #btn-story2 {
    font-size: 15px;
    margin-top: 25px;
  }
  
  .column-in-sectionThree .column {
    width: 40%;
  }

  .images-part-section{
    display: block;
  }
  
  .images-part-section .second-img {
    height: 350px;
  }

  .images-part-section .first-img {
    left: 43%;
    top: 70px;
    height: 260px;
  }
  
  #text-part-s3 h3 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  
  .table-design div img,
  .table-design div {
    height: 80px;
    width: 80px;
  }

  .table-design {
    grid-template-columns: 80px 80px 80px 80px;
    gap: 20px;
  }

  .section-blue {
    padding: 60px 0px 60px 0px;
    margin-top: 70px;
  }
 
  
  .left-arrow,
  .right-arrow {
    position: relative;
    height: 80px;
    width: 20%;
  }
  
  .prva-kolona img{
    display: block;
  }
  
  .prva-kolona .otherPic{
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .druga-kolona h5,
  .treca-kolona h5,
  .cetvrta-kolona h5{
    margin: 0;
    font-size: 20px;
  }
  
  .druga-kolona h2,
  .treca-kolona h2,
  .cetvrta-kolona h2{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .druga-kolona p,
  .treca-kolona p,
  .cetvrta-kolona p{
    font-size: 14px;
  }
  
  .druga-kolona,
  .cetvrta-kolona{
    padding: 0 40px;
    width: 25%;
  }
  
  .treca-kolona{
    border-left: 4px solid #a6e7ff;
    padding: 0 50px 0 50px;
    width: 25%;
  }
  
  
  .prva-kolona{
    width: 25%;
  }
  
  .prva-kolona .redGimmi{
    float: left;
  }

  .top-g h2{
    margin-top: 70px;
  }
  
  .bottom-g{
    margin-top: 170px;
    color: #63a9c2;
    width: 100%;
  }
  
  
  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }
  
  .swiper {
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .product {
    padding: 15px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .custom-prev,
  .custom-next {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
  }
  
  .custom-prev {
    left: 80%;
  }
  
  .custom-next {
    right: 80%;
  }
  
  .custom-prev img,
  .custom-next img {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    transition: 0.3s;
  }
  
  .custom-prev:hover img,
  .custom-next:hover img {
    opacity: 0.7;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  
  .header-n-text {
    text-align: center;
  }
  
  .slider-section {
    position: relative;
  }
  
  .header-n-text h2 {
    font-size: 60px;
    margin-bottom: 0;
  }
  
  .header-n-text h2 strong {
    color: #e41100;
  }
  
  .header-n-text p {
    font-size: 16px;
    margin-top: 30px;
  }
 
  .LeftPic {
    display: none;
  }
  
  .RightPic {
    display: none;
  }
  
  .product img {
    margin-bottom: 0;
  }
  
  .product .product-name {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .product .price {
    font-size: 20px;
    font-weight: bold;
  }
  
  .product .btn-addCart {
    color: #e41100;
    border: 2px solid #e41100;
    background-color: transparent;
    padding: 12px 35px 12px 35px;
    border-radius: 40px;
  }
  
  .color-bg {
    height: 355px;
    width: 100%;
    background-color: #fffcf4;
    position: absolute;
    z-index: -999;
    margin-top: -300px;
    border-bottom: 1px solid #e4d9c3;
  }
  
  .mid-btn-findUs {
    background-color: #e41100;
    color: #ffffff;
    font-size: 24px;
    border: none;
    padding: 9px 36px 9px 36px;
    border-radius: 30px;
  }
  
  .center-btn {
    margin-top: 30px;
    text-align: center;
  }
  
  .between-sectionsTwo {
    width: 100%;
    height:80px;
  }
  
  .space-4-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  .logo-images img{
    height: 25px;
  }
  
  .footer-section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .left-mail-logo {
    margin-top: 45px;
    margin-bottom: 65px;
    margin-right: 80px;
  }

  .left-mail-logo img {
    height: 50px;
  }

  .left-mail-logo span {
    margin-top: 20px;
    font-size: 25px;
  }

  .left-mail-logo p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .left-mail-logo input {
    position: relative;
    width: 200px;
    height: 30px;
    padding-left: 27px;
  }

  .input-box {
    width: 200px;
  }

  .email-address {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .input-box img {
    right: 13px;
    top: 50%;
  }

  .bg-plane {
    float: right;
    height: 22px;
    width: 22px;
  }

  .bg-plane img {
    height: 14px;
    width: 14px;
    left: 4px;
  }

  .table-footer {
    margin-top: 60px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-bottom: 5px;
  }

  .endline {
    margin-left: 50px;
    margin-right: 50px;
    height: 25px;
  }

  .options span {
    margin-left: 30px;
  }
}

/*MOBITEL*/

@media (max-width: 768px) {
  .hiden-menu {
    display: none;
  }

  #btn-menu {
    display: block;
  }

  .navigation-top #btn-menu img {
    border-radius: 1000px;
    margin-right: 9px;
    vertical-align: middle;
  }

  .navigation-top #btn-menu span {
    vertical-align: middle;
  }

  .navigation-top {
    height: 110px;
    justify-content: space-around;
  }

  .nav-left-top{
    display: none;
  }

  .navigation-top .slika-logo {
    width: 140px;
    height: 45px;
  }

  .navigation-top button {
    display: none;
  }

  .navigation-top #btn-menu {
    padding: 0 17px 0px 4px;
  }

  .navigation-top #btn-cart {
    display: block;
    position: absolute;
    right: 40px;
    top: 75px;
  }

  .navigation-top #btn-shop span {
    vertical-align: middle;
  }

  .navigation-top #btn-shop img {
    border-radius: 1000px;
    margin-right: 9px;
    vertical-align: middle;
  }

  .nav-right-top{
    width: 140px;
  }

  .column {
    float: none;
  }

  #column-left img,
  #column-right img {
    display: none;
  }

  #column-right img {
    float: none;
  }

  #column-mid {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .pictures-section-top {
    display: block;
    width: 100%;
  }

  .pictures-main {
    margin-top: -170px;
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prostor-slike {
    position: relative;
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .prostor-slike img{
    position: absolute;
    width: 450px;
    top: -10px;
  }

  .main-part-top h1,
  .main-part-top h2 {
    font-size: 55px;
  }

  .main-part-top h1 {
    margin-top: 0px;
  }

  .main-part-top h2 {
    margin-top: 180px;
    margin-bottom: 140px;
    font-size: 60px;
  }

  #column-left img,
  #column-right img {
    display: none;
  }

  #column-right img {
    float: none;
  }

  #column-mid {
    width: 100%;
  }

  

  .bottom-part-top {
    height: 280px;
    width: 100%;
  }

  .presenting {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .presenting img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .between-sections {
    height: 260px;
    margin-top: -220px;
  }

  .more-columns {
    margin-top: -80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .parts {
    display: flex;
    width: 40%;
    height: 70px;
    font-size: 14px;
    align-items: center;
    margin-bottom: 40px;
  }

  .parts img{
    height: 60px;
  }

  #line-red {
    display: none;
  }

  .section-two,
  .section-three {
    text-align: center;
  }

  .section-three {
    margin-top: 45px;
  }

  .column-in-sectionTwo {
    margin-top: 0px;
    display: block;
    text-align: left;
  }

  .circleBlue {
    display: none;
  }

  /*ubaciti naknadno sliku*/
  .column-in-sectionTwo .column img {
    display: none;
  }

  #text-in-column {
    margin-right: 0px;
  }

  #text-in-column h3 {
    font-size: 55px;
    margin-bottom: 35px;
  }

  #text-in-column .top-paragraph {
    font-size: 16px;
  }

  #text-in-column .bottom-paragraph {
    font-size: 13px;
  }

  #btn-story2 {
    margin-top: 15px;
  }

  .images-part-section {
    display: none;
  }

  .column-in-sectionThree{
    display: block;

  }

  .column-in-sectionThree h3 {
    font-size: 40px;
    display: block;
  }

  .column-in-sectionThree #poziv3{
    display: none;
  }

  #text-part-s3{
    width: 100%;
    text-align: left;
  }

  #text-part-s3 h3{
    margin-bottom: 30px;
  }

  .section-three{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .column-in-sectionThree .table-design img {
    height: 100px;
  }

  .table-design div img,
  .table-design div {
    height: 100px;
    width:100px;
  }

  .table-design {
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    
  }

  .section-blue {
    color: white;
    font-size: 30px;
    background-color: #7fd3f1;
    padding: 100px 0px 100px 0px;
    margin-top: 90px;
  }
  
  .section-blue .calories-part {
    padding-right: 0;
  }
  
  .left-arrow,
  .right-arrow {
    position: relative;
    height: 80px;
    width: 20%;
  }

  .prva-kolona img{
    display: block;
  }
  
  .prva-kolona .otherPic{
    padding-left: 40px;
    padding-right: 40px;
  }

  .otherPic {
    height: 240px;
    padding-top: 20px;
  }
  
  .razvuci{
    display: block;
  }
  
  .druga-kolona h5,
  .treca-kolona h5,
  .cetvrta-kolona h5{
    margin: 0;
    font-size: 20px;
  }
  
  .druga-kolona h2,
  .treca-kolona h2,
  .cetvrta-kolona h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .druga-kolona p,
  .treca-kolona p,
  .cetvrta-kolona p{
    font-size: 20px;
    margin-top: 0;
  }

  .bottom-g h5{
    display: block;
  }
  
  .druga-kolona,
  .cetvrta-kolona{
    border-left: none;
    padding: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 110px;
  }

  .druga-kolona{
    border-bottom: 4px solid #a6e7ff;
  }
  
  .treca-kolona{
    border-left: none;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 110px;
    border-bottom: 4px solid #a6e7ff;
  }
  
  
  .prva-kolona{
    width: 100%;
    display: flex;
    border-bottom: 4px solid #a6e7ff;
  }
  
  
  .bottom-g{
    margin-top: 0px;
    color: #63a9c2;
    width: 121px;
  }
  

  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    position: relative;
  }

  .RightPic,
  .LeftPic {
    display: none;
  }

  .custom-prev,
  .custom-next {
    top: 0px;
  }

  .custom-prev {
    left: 30px;
  }

  .custom-next {
    right: 30px;
  }

  .header-n-text {
    text-align: left;
    margin: 0px 40px;
  }

  .header-n-text h2 {
    font-size: 60px;
    margin-bottom: 0;
  }

  .header-n-text p {
    font-size: 12px;
    margin-top: 20px;
  }

  .product img {
    margin-bottom: 0;
  }

  .product .product-name {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .product .price {
    font-size: 20px;
    font-weight: bold;
  }

  .between-sectionsTwo {
    height: 70px;
    width: 100%;
  }

  .space-4-logos {
    margin: 45px 30px 45px 30px;
  }

  .space-4-logos img {
    height: 20px;
  }

  .parts-of-footer {
    display: block;
  }

  .footer-section {
    height: 650px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .left-mail-logo {
    display: block;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: 40px;
    height: 120px;
  }

  .left-mail-logo span {
    margin-top: 30px;
    display: block;
    font-size: 40px;
  }

  .left-mail-logo p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .left-mail-logo input {
    width: 400px;
    height: 40px;
    padding-left: 27px;
  }

  .input-box img {
    right: 13px;
    top: 50%;
  }

  .input-box {
    width: 400px;
  }

  .email-address {
    width: 400px;
  }

  .bg-plane {
    float: right;
    height: 30px;
    width: 30px;
    right: 5px;
  }

  .bg-plane img {
    left: 4px;
    height: 20px;
    width: 20px;
  }

  .table-footer {
    margin-top: 115px;
  }

  .table-footer {
    border-collapse: collapse;
    text-align: left;
    margin-top: 170px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-right: 50px;
    padding-bottom: 15px;
  }

  .endline {
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
  }

  .options {
    display: none;
  }

  #side-menu {
    display: flex;
    flex-direction: column;
  }

  /* Dugme za zatvaranje */
  .top-part-menu {
    display: none;
    display: flex;
    justify-content: space-between;
    top: 20px;
    border-bottom: 2px solid #e4d9c3;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .top-part-menu img {
    height: 60px;
  }

  .top-part-menu button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #e21e26;
    font-size: 55px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.95);
    transition: transform 0.4s ease-in-out;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff9ec;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .btns button {
    display: block;
    border: 2px solid #e21e26;
    color: #e21e26;
    font-weight: bold;
    font-size: 25px;
    background-color: transparent;
    margin-top: 10px;
    padding: 6px 40px;
    border-radius: 25px;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
