@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.hiden-menu {
  display: none;
}

#side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 99999;
  height: 600px;
  background-color: #fff9ec;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#side-menu.active {
  transform: translateX(0);
}

#side-menu,
.menu {
  display: none;
}

#btn-menu {
  display: none;
}

.bottom-g h5 {
  display: none;
}

.header-top {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.header-top p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  color: white;
  background-color: #00b15c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.navigation-top {
  height: 110px;
  background-color: #fff9ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4d9c3;
}

.navigation-top .slika-logo {
  width: 190px;
  height: 65px;
}

.navigation-top button {
  color: #e41100;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #e41100;
  border-radius: 20px;
  /* padding: 7px 22px 7px 22px; */
  height: 37px;
}

.navigation-top #btn-shop {
  /* padding-right: 17px;
  padding-left: 4px; */
  padding: 0 17px 0px 4px;
}

.navigation-top #btn-shop span {
  vertical-align: middle;
}

.navigation-top #btn-shop img {
  border-radius: 1000px;
  margin-right: 9px;
  vertical-align: middle;
}

.navigation-top #btn-findInStore {
  padding: 6px 21px 7px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.navigation-top #btn-ourStory {
  padding: 6px 19px 7px 20px;
}

.navigation-top #btn-user,
.navigation-top #btn-cart {
  height: 37px;
  width: 37px;
}

.nav-left-top {
  margin-left: 90px;
}

.nav-right-top {
  margin-right: 90px;
}

.section-top {
  background-color: #fff9ec;
  border-bottom: 1px solid #e4d9c3;
}

.main-part-top h1,
.main-part-top h2 {
  text-align: center;
  font-size: 120px;
  color: #fff9ec;
  margin: 0;
  text-shadow: 2px 0 0 #e41100, 0px -2px 0 #e41100, 0px 2px 0px #e41100,
    -2px 0 0 #e41100;
}

.main-part-top h2 {
  margin-top: 470px;
  font-size: 150px;
}

.main-part-top h1 {
  margin-top: 85px;
}

.column {
  float: left;
}

#column-left,
#column-right {
  width: 25%;
}

#column-right img {
  float: right;
}

#column-mid {
  width: 50%;
}

.pictures-section-top:after {
  content: "";
  display: table;
  clear: both;
}

.pictures-main {
  position: absolute;
  top: 200px;
}

.pictures-main #blue-box {
  position: absolute;
  left: 375px;
  z-index: 22;
}

.pictures-main #red-box {
  position: absolute;
  top: 150px;
  left: 90px;
  z-index: 999;
}

.pictures-main #red-circle,
.pictures-main #yellow-circle,
.pictures-main #pink-circle,
.pictures-main #green-circle {
  position: absolute;
}

.pictures-main #red-circle {
  top: 130px;
  right: -150px;
  z-index: 99;
}

.pictures-main #yellow-circle {
  top: 300px;
}

.pictures-main #pink-circle {
  top: 450px;
  left: 850px;
}

.pictures-main #green-circle {
  left: 750px;
  top: 300px;
}

#column-left img {
  height: 1200px;
  margin-top: -120px;
}

#column-right img {
  height: 900px;
  margin-top: -120px;
}

.bottom-part-top {
  width: 100%;
  text-align: center;
}

.presenting img {
  margin-top: -100px;
  margin-bottom: -150px;
  z-index: -999;
}

.between-sections {
  position: relative;
  z-index: 999;
  background-color: #ffffff;
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e4d9c3;
}

.more-columns {
  z-index: 999;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.parts {
  display: flex;
  height: 70px;
  font-size: 24px;
  align-items: center;
}

.parts img {
  margin-right: 27px;
}

#line-red {
  height: 2px;
  width: 80px;
  background-color: #e41100;
  margin: 0 40px;
}

.section-two,
.section-three {
  margin-left: 290px;
  margin-right: 290px;
  display: flex;
  justify-content: center;
}

.section-three {
  margin-top: 85px;
}

.column-in-sectionTwo {
  margin-top: 20px;
  display: flex;
}

.circleBlue {
  height: 360px;
  width: 360px;
  background-color: #7fd3f1;
  position: absolute;
  top: 1750px;
  right: 320px;
  border-radius: 1000px;
  z-index: -2;
}

#text-in-column {
  margin-right: 45px;
}

#text-in-column h3 {
  font-size: 84px;
  margin-bottom: 55px;
}

#text-in-column h3 strong {
  color: #e41100;
}

#text-in-column .top-paragraph {
  font-family: Urbanist, serif;
  font-size: 18px;
}

#text-in-column .bottom-paragraph {
  font-family: Urbanist, serif;
  font-size: 14px;
}

#btn-story2 {
  padding: 6px 19px 7px 20px;
  color: #e41100;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #e41100;
  border-radius: 20px;
  height: 37px;
  margin-top: 35px;
}

.images-part-section .first-img {
  position: absolute;
  z-index: 99;
  left: 550px;
  top: 2350px;
}

.column-in-sectionThree {
  display: flex;
}

.table-design {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

#text-part-s3 {
  margin-left: 250px;
}

#text-part-s3 h3 {
  font-size: 60px;
}

#text-part-s3 h3 strong {
  color: #ff76b8;
}

.section-blue {
  color: white;
  font-size: 30px;
  background-color: #7fd3f1;
  padding: 100px 250px 100px 250px;
  margin-top: 90px;
}

.content-in-section {
  background-color: #7fd3f1;
  display: flex;
  justify-content: center;
}

.pictures-blue-part img {
  display: block;
  margin-right: 150px;
}

.otherPic {
  padding-left: 40px;
}

.sugar-part,
.fiber-part,
.calories-part {
  border-left: 4px solid #a6e7ff;
  height: 510px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.sugar-part h5,
.fiber-part h5,
.calories-part h5 {
  font-size: 30px;
  margin-top: 0;
}

.sugar-part h2,
.fiber-part h2,
.calories-part h2 {
  font-size: 100px;
  margin: 0;
}

.sugar-part p,
.fiber-part p,
.calories-part p {
  font-size: 20px;
  margin: 0;
}

.bottom-g {
  margin-top: 80px;
  color: #63a9c2;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.swiper {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product {
  padding: 15px;
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 4200px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  width: 50px;
  height: 50px;
}

.custom-prev {
  left: 350px;
}

.custom-next {
  right: 350px;
}

.custom-prev img,
.custom-next img {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.custom-prev:hover img,
.custom-next:hover img {
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.header-n-text {
  text-align: center;
}

.header-n-text h2 {
  font-size: 60px;
  margin-bottom: 0;
}

.header-n-text h2 strong {
  color: #e41100;
}

.header-n-text p {
  font-size: 16px;
  margin-top: 30px;
}

.LeftPic,
.RightPic {
  position: absolute;
}

.LeftPic {
  left: 50px;
  z-index: 22;
  top: 3550px;
}

.RightPic {
  z-index: 22;
  right: 140px;
  top: 3610px;
}

.product img {
  margin-bottom: 0;
}

.product .product-name {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.product .price {
  font-size: 20px;
  font-weight: bold;
}

.product .btn-addCart {
  color: #e41100;
  border: 2px solid #e41100;
  background-color: transparent;
  padding: 12px 35px 12px 35px;
  border-radius: 40px;
}

.color-bg {
  height: 355px;
  width: 100%;
  background-color: #fffcf4;
  position: absolute;
  z-index: -999;
  margin-top: -300px;
  border-bottom: 1px solid #e4d9c3;
}

.mid-btn-findUs {
  background-color: #e41100;
  color: #ffffff;
  font-size: 24px;
  border: none;
  padding: 9px 36px 9px 36px;
  border-radius: 30px;
}

.center-btn {
  margin-top: 30px;
  text-align: center;
}

.between-sectionsTwo {
  height: 190px;
  width: 100%;
}

.space-4-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 65px 270px 65px 270px;
}

.footer-section {
  height: 385px;
  width: 100%;
  background-color: #fff9ec;
  border-top: 1px solid #e4d9c3;
  border-bottom: 1px solid #e4d9c3;
  padding-left: 250px;
  padding-right: 250px;
}

.parts-of-footer {
  display: flex;
  justify-content: center;
}

.left-mail-logo {
  display: block;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-right: 270px;
}

.left-mail-logo span {
  margin-top: 30px;
  display: block;
  font-size: 40px;
}

.left-mail-logo p {
  font-size: 16px;
  font-family: Urbanist, serif;
  margin-bottom: 20px;
}

.left-mail-logo input {
  width: 430px;
  border: 2px solid #e21e26;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 27px;
}

.input-box {
  position: relative;
}

.input-box img {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.bg-plane {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #e21e26;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}

.table-footer {
  margin-top: 115px;
}

.table-footer {
  border-collapse: collapse;
  text-align: left;
}

.table-footer table tr th,
.table-footer table tr td {
  padding-right: 50px;
  padding-bottom: 15px;
}

.endline {
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
}

.options span {
  margin-left: 30px;
}

/* LAPTOP */
@media (min-width: 992px) and (max-width: 1024px) {
  .main-part-top h1,
  .main-part-top h2 {
    font-size: 70px;
  }

  .main-part-top h2 {
    margin-top: 270px;
    font-size: 90px;
  }

  .main-part-top h1 {
    margin-top: 65px;
  }

  .pictures-main #blue-box {
    position: absolute;
    left: 200px;
    z-index: 22;
    height: 400px;
  }

  .pictures-main #red-box {
    position: absolute;
    top: 80px;
    left: 30px;
    z-index: 999;
    height: 400px;
  }

  .pictures-main #red-circle {
    top: 70px;
    right: -70px;
    z-index: 99;
    height: 150px;
  }

  .pictures-main #yellow-circle {
    top: 170px;
    left: -30px;
    height: 150px;
  }

  .pictures-main #pink-circle {
    top: 270px;
    left: 460px;
    height: 150px;
  }

  .pictures-main #green-circle {
    left: 425px;
    top: 170px;
    height: 150px;
  }

  #column-left img {
    height: 900px;
    margin-top: -120px;
  }

  #column-right img {
    height: 700px;
    margin-top: -120px;
  }

  .bottom-part-top {
    width: 100%;
    text-align: center;
  }

  .presenting img {
    margin-top: -200px;
    margin-bottom: -80px;
    width: 80%;
  }

  .between-sections {
    height: 150px;
  }

  .more-columns {
    height: 30px;
  }

  .parts {
    height: 20px;
    font-size: 15px;
  }

  .parts img {
    margin-right: 17px;
    height: 50px;
  }

  #line-red {
    height: 2px;
    width: 50px;
    margin: 0 20px;
  }

  .section-two,
  .section-three {
    margin-left: 130px;
    margin-right: 130px;
  }

  .column-in-sectionTwo img {
    height: 370px;
  }

  .section-three {
    margin-top: 55px;
  }

  .circleBlue {
    height: 160px;
    width: 160px;
    top: 1250px;
    right: 200px;
  }

  #text-in-column {
    margin-right: 45px;
  }

  #text-in-column h3 {
    font-size: 34px;
    margin-bottom: 35px;
  }

  #text-in-column .top-paragraph {
    font-size: 11px;
  }

  #text-in-column .bottom-paragraph {
    font-size: 10px;
  }

  #btn-story2 {
    padding: 3px 15px 3px 15px;
    font-size: 13px;
    height: 27px;
    margin-top: 20px;
  }

  .images-part-section .second-img {
    height: 390px;
  }

  .images-part-section .first-img {
    left: 310px;
    top: 1620px;
    height: 280px;
  }

  .table-design {
    gap: 15px;
  }

  .table-design img {
    height: 75px;
  }

  #text-part-s3 {
    margin-left: 150px;
  }

  #text-part-s3 h3 {
    font-size: 30px;
  }

  .section-blue {
    font-size: 18px;
    padding: 60px 180px 60px 180px;
    margin-top: 50px;
  }

  .pictures-blue-part img {
    margin-right: 70px;
    height: 150px;
  }

  .otherPic {
    padding-left: 10px;
    height: 120px;
    width: 90;
  }

  .sugar-part,
  .fiber-part,
  .calories-part {
    height: 310px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .sugar-part h5,
  .fiber-part h5,
  .calories-part h5 {
    font-size: 18px;
  }

  .sugar-part h2,
  .fiber-part h2,
  .calories-part h2 {
    font-size: 37px;
  }

  .sugar-part p,
  .fiber-part p,
  .calories-part p {
    font-size: 11px;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper {
    width: 80%;
    max-width: 900px;
    overflow: hidden;
  }

  .custom-prev,
  .custom-next {
    top: 2750px;
  }

  .custom-prev {
    left: 50px;
  }

  .custom-next {
    right: 50px;
  }

  .header-n-text h2 {
    font-size: 34px;
  }

  .header-n-text p {
    font-size: 13px;
    margin-top: 20px;
  }

  .LeftPic {
    left: 20px;
    top: 2320px;
    height: 300px;
  }

  .RightPic {
    right: 20px;
    top: 2350px;
    height: 250px;
  }

  .product .product-name {
    font-size: 13px;
  }

  .product .price {
    font-size: 14px;
  }

  .product .btn-addCart {
    padding: 7px 21px 7px 21px;
  }

  .color-bg {
    height: 355px;
  }

  .between-sectionsTwo {
    height: 140px;
  }

  .space-4-logos {
    margin: 65px 170px 65px 170px;
  }

  .space-4-logos img {
    width: 80px;
    height: 20px;
    margin: 0 30px 0 30px;
  }

  .footer-section {
    height: 250px;
    padding-left: 60px;
  }

  .left-mail-logo {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .left-mail-logo span {
    margin-top: 20px;
    font-size: 20px;
  }

  .left-mail-logo p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .left-mail-logo img {
    width: 130px;
  }
  .left-mail-logo input {
    width: 290px;
    height: 30px;
    border-radius: 30px;
    padding-left: 15px;
  }

  .input-box img {
    right: 13px;
  }

  .bg-plane {
    height: 20px;
    width: 20px;
    margin-right: 22px;
  }

  .table-footer {
    margin-top: 115px;
  }

  .bg-plane img {
    height: 11px;
    width: 11px;
    left: 4px;
  }

  .footer-section {
    padding-right: 50px;
  }

  .table-footer {
    margin-top: 29px;
    font-size: 13px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-right: 50px;
    padding-bottom: 8px;
  }

  .endline {
    margin-left: 120px;
    margin-right: 120px;
    height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-top p {
    font-size: 12px;
  }

  .navigation-top .slika-logo {
    width: 150px;
    height: 55px;
  }

  .main-part-top h1 {
    font-size: 50px;
    padding-top: 50px;
    margin-top: 0;
  }

  .main-part-top h2 {
    margin-top: 30px;
    font-size: 70px;
    margin-bottom: 110px;
  }

  .column {
    float: none;
  }

  #column-left img,
  #column-right img {
    display: none;
  }

  #column-right img {
    float: none;
  }

  #column-mid {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .pictures-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pictures-main {
    margin-top: -250px;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prostor-slike {
    position: relative;
    width: 768px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .pictures-main #blue-box {
    left: 350px;
    height: 250px;
    top: -20px;
  }

  .pictures-main #red-box {
    top: 50px;
    left: 240px;
    height: 250px;
  }

  .pictures-main #red-circle {
    top: 40px;
    left: 120px;
    height: 130px;
  }

  .pictures-main #yellow-circle {
    top: 110px;
    left: 190px;
    height: 130px;
  }

  .pictures-main #pink-circle {
    top: 160px;
    left: 530px;
    height: 130px;
  }

  .pictures-main #green-circle {
    left: 475px;
    top: 90px;
    height: 130px;
  }

  .bottom-part-top {
    height: 200px;
    margin-bottom: -110px;
  }

  .presenting {
    height: 200px;
  }
  .presenting img {
    height: 170px;
    width: 90%;
  }

  .between-sections {
    height: 130px;
  }

  .more-columns {
    height: 70px;
  }

  .parts {
    height: 40px;
    font-size: 12px;
  }

  .parts img {
    margin-right: 13px;
    height: 40px;
  }

  #line-red {
    width: 60px;
    margin: 0 20px;
  }

  .section-two,
  .section-three {
    margin-left: 80px;
    margin-right: 80px;
  }

  .column-in-sectionTwo .column img {
    height: 300px;
  }

  .column-in-sectionTwo {
    justify-content: center;
  }

  .column-in-sectionThree {
    justify-content: center;
  }

  .circleBlue {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 60px;
    left: 130px;
  }

  #text-in-column {
    margin-right: 25px;
  }

  #text-in-column h3 {
    font-size: 36px;
    margin-bottom: 35px;
  }

  .column-in-sectionThree .column {
    width: 360px;
    position: relative;
  }

  #text-in-column .top-paragraph {
    font-size: 13px;
  }

  #text-in-column .bottom-paragraph {
    font-size: 10px;
  }

  #btn-story2 {
    padding: 3px 13px 4px 13px;
    font-size: 13px;
    margin-top: 15px;
  }

  .images-part-section .first-img {
    left: 145px;
    top: 60px;
    height: 220px;
  }

  .column-in-sectionTwo #bottom-col {
    width: 360px;
    position: relative;
  }

  .images-part-section .second-img {
    height: 320px;
  }

  .table-design img {
    height: 65px;
  }

  .table-design {
    gap: 10px;
  }

  #text-part-s3 {
    margin-left: 120px;
  }

  #text-part-s3 h3 {
    font-size: 30px;
  }

  .section-blue {
    font-size: 15px;
    padding: 30px 160px 30px 160px;
  }

  .pictures-blue-part img {
    margin-right: 50px;
    height: 130px;
  }

  .content-in-section {
    justify-content: center;
  }

  .otherPic {
    padding-left: 10px;
  }

  .sugar-part,
  .fiber-part,
  .calories-part {
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sugar-part h5,
  .fiber-part h5,
  .calories-part h5 {
    font-size: 15px;
  }

  .sugar-part h2,
  .fiber-part h2,
  .calories-part h2 {
    font-size: 30px;
  }

  .sugar-part p,
  .fiber-part p,
  .calories-part p {
    font-size: 13px;
  }

  .bottom-g {
    margin-top: 60px;
  }

  .swiper {
    width: 70%;
    max-width: 700px;
  }

  .custom-prev,
  .custom-next {
    top: 2450px;
  }

  .custom-prev {
    left: 50px;
  }

  .custom-next {
    right: 50px;
  }

  .header-n-text h2 {
    font-size: 30px;
  }

  .header-n-text p {
    font-size: 13px;
    margin-top: 20px;
  }

  .LeftPic {
    display: none;
  }

  .RightPic {
    display: none;
  }

  .product .product-name {
    font-size: 13px;
  }

  .product .price {
    font-size: 15px;
  }

  .product .btn-addCart {
    padding: 6px 17px 6px 17px;
  }

  .between-sectionsTwo {
    height: 70px;
  }

  .space-4-logos {
    margin: 25px 50px 25px 50px;
  }

  .space-4-logos img {
    height: 20px;
  }

  .footer-section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .left-mail-logo {
    margin-top: 45px;
    margin-bottom: 65px;
    margin-right: 80px;
  }

  .left-mail-logo img {
    height: 50px;
  }

  .left-mail-logo span {
    margin-top: 20px;
    font-size: 25px;
  }

  .left-mail-logo p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .left-mail-logo input {
    position: relative;
    width: 200px;
    height: 30px;
    padding-left: 27px;
  }

  .input-box {
    width: 200px;
  }

  .email-address {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .input-box img {
    right: 13px;
    top: 50%;
  }

  .bg-plane {
    float: right;
    height: 22px;
    width: 22px;
  }

  .bg-plane img {
    height: 14px;
    width: 14px;
    left: 4px;
  }

  .table-footer {
    margin-top: 60px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-bottom: 5px;
  }

  .endline {
    margin-left: 50px;
    margin-right: 50px;
    height: 25px;
  }

  .options span {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .hiden-menu {
    display: none;
  }

  #btn-menu {
    display: block;
  }

  .navigation-top #btn-menu img {
    border-radius: 1000px;
    margin-right: 9px;
    vertical-align: middle;
  }

  .navigation-top #btn-menu span {
    vertical-align: middle;
  }

  .navigation-top {
    height: 110px;
    margin-left: -150px;
  }

  .navigation-top .slika-logo {
    width: 140px;
    height: 45px;
  }

  .navigation-top button {
    display: none;
  }

  .navigation-top #btn-menu {
    padding: 0 17px 0px 4px;
  }

  .navigation-top #btn-cart {
    display: block;
    position: absolute;
    right: 40px;
    top: 75px;
  }

  .navigation-top #btn-shop span {
    vertical-align: middle;
  }

  .navigation-top #btn-shop img {
    border-radius: 1000px;
    margin-right: 9px;
    vertical-align: middle;
  }

  .column {
    float: none;
  }

  #column-left img,
  #column-right img {
    display: none;
  }

  #column-right img {
    float: none;
  }

  #column-mid {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .pictures-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pictures-main {
    margin-top: -270px;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prostor-slike {
    position: relative;
    width: 445px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .main-part-top h1,
  .main-part-top h2 {
    font-size: 55px;
  }

  .main-part-top h1 {
    margin-top: 40px;
  }

  .main-part-top h2 {
    margin-top: 180px;
    margin-bottom: 140px;
    font-size: 60px;
  }

  #column-left img,
  #column-right img {
    display: none;
  }

  #column-right img {
    float: none;
  }

  #column-mid {
    width: 100%;
  }

  .pictures-main #blue-box {
    left: 210px;
    top: 0px;
    height: 180px;
  }

  .pictures-main #red-box {
    top: 60px;
    left: 120px;
    height: 180px;
  }

  .pictures-main #red-circle {
    top: 50px;
    left: 20px;
    height: 80px;
  }

  .pictures-main #yellow-circle {
    top: 80px;
    left: 70px;
    height: 80px;
  }

  .pictures-main #pink-circle {
    top: 120px;
    left: 340px;
    height: 80px;
  }

  .pictures-main #green-circle {
    left: 310px;
    top: 70px;
    height: 80px;
  }

  .bottom-part-top {
    height: 280px;
    width: 100%;
  }

  .presenting {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .presenting img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .between-sections {
    height: 260px;
    margin-top: -220px;
  }

  .more-columns {
    margin-top: -80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .parts {
    display: flex;
    width: 40%;
    height: 70px;
    font-size: 24px;
    align-items: center;
    margin-bottom: 40px;
  }

  #line-red {
    display: none;
  }

  .section-two,
  .section-three {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  }

  .section-three {
    margin-top: 45px;
  }

  .column-in-sectionTwo {
    margin-top: 0px;
    display: block;
    text-align: left;
  }

  .circleBlue {
    display: none;
  }

  /*ubaciti naknadno sliku*/
  .column-in-sectionTwo .column img {
    display: none;
  }

  #text-in-column {
    margin-right: 0px;
  }

  #text-in-column h3 {
    font-size: 55px;
    margin-bottom: 35px;
  }

  #text-in-column .top-paragraph {
    font-size: 16px;
  }

  #text-in-column .bottom-paragraph {
    font-size: 13px;
  }

  #btn-story2 {
    margin-top: 15px;
  }

  .images-part-section {
    display: none;
  }

  .column-in-sectionThree #text-part-s3 {
    margin-left: 0;
  }

  .column-in-sectionThree h3 {
    font-size: 40px;
  }

  .column-in-sectionThree .table-design img {
    height: 90px;
  }

  .section-blue {
    font-size: 30px;
    padding: 40px 55px 49px 55px;
    margin-top: 30px;
  }

  .content-in-section {
    background-color: #7fd3f1;
    display: block;
  }

  .pictures-blue-part {
    display: flex;
    justify-content: space-between;
  }

  .pictures-blue-part img {
    margin-right: 40px;
  }

  .otherPic {
    padding-left: 0px;
    height: 210px;
    margin-top: 20px;
  }

  .bottom-g h5 {
    display: block;
  }

  .sugar-part,
  .fiber-part,
  .calories-part {
    display: flex;
    justify-content: space-between;
  }

  .bottom-g {
    margin-top: 0;
  }

  .sugar-part,
  .fiber-part,
  .calories-part {
    border-left: none;
    border-top: 4px solid #a6e7ff;
    height: 320px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
  }

  .sugar-part h2,
  .fiber-part h2,
  .calories-part h2 {
    font-size: 50px;
  }

  .sugar-part h5,
  .fiber-part h5,
  .calories-part h5 {
    font-size: 20px;
  }

  .pictures-blue-part .redGimmi {
    margin-right: 0;
  }

  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    position: relative;
  }

  .RightPic,
  .LeftPic {
    display: none;
  }

  .custom-prev,
  .custom-next {
    top: 250px;
  }

  .custom-prev {
    left: 30px;
  }

  .custom-next {
    right: 30px;
  }

  .header-n-text {
    text-align: left;
    margin: 0px 40px;
  }

  .header-n-text h2 {
    font-size: 90px;
    margin-bottom: 0;
  }

  .header-n-text p {
    font-size: 16px;
    margin-top: 20px;
  }

  .product img {
    margin-bottom: 0;
  }

  .product .product-name {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .product .price {
    font-size: 20px;
    font-weight: bold;
  }

  .between-sectionsTwo {
    height: 100px;
    width: 100%;
  }

  .space-4-logos {
    margin: 45px 30px 45px 30px;
  }

  .space-4-logos img {
    height: 20px;
  }

  .parts-of-footer {
    display: block;
  }

  .footer-section {
    height: 650px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .left-mail-logo {
    display: block;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: 40px;
    height: 120px;
  }

  .left-mail-logo span {
    margin-top: 30px;
    display: block;
    font-size: 40px;
  }

  .left-mail-logo p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .left-mail-logo input {
    width: 400px;
    height: 40px;
    padding-left: 27px;
  }

  .input-box img {
    right: 13px;
    top: 50%;
  }

  .input-box {
    width: 400px;
  }

  .email-address {
    width: 400px;
  }

  .bg-plane {
    float: right;
    height: 30px;
    width: 30px;
    right: 5px;
  }

  .bg-plane img {
    left: 4px;
    height: 20px;
    width: 20px;
  }

  .table-footer {
    margin-top: 115px;
  }

  .table-footer {
    border-collapse: collapse;
    text-align: left;
    margin-top: 170px;
  }

  .table-footer table tr th,
  .table-footer table tr td {
    padding-right: 50px;
    padding-bottom: 15px;
  }

  .endline {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
  }

  .options {
    display: none;
  }

  #side-menu {
    display: flex;
    flex-direction: column;
  }

  /* Dugme za zatvaranje */
  .top-part-menu {
    display: none;
    display: flex;
    justify-content: space-between;
    top: 20px;
    border-bottom: 2px solid #e4d9c3;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .top-part-menu img {
    height: 60px;
  }

  .top-part-menu button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #e21e26;
    font-size: 55px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.95);
    transition: transform 0.4s ease-in-out;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff9ec;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .btns button {
    display: block;
    border: 2px solid #e21e26;
    color: #e21e26;
    font-weight: bold;
    font-size: 25px;
    background-color: transparent;
    margin-top: 10px;
    padding: 6px 40px;
    border-radius: 25px;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
